<div class="clases-abm-container">
  <form [formGroup]="claseForm" (ngSubmit)="onSubmit()" class="clase-form">
    <mat-form-field appearance="fill">
      <mat-label>Curso</mat-label>
      <input matInput formControlName="curso">
      <mat-error *ngIf="claseForm.get('curso')?.touched && claseForm.get('curso')?.errors?.['required']">
        Curso es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hora Inicio</mat-label>
      <input matInput formControlName="horaInicio">
      <mat-error *ngIf="claseForm.get('horaInicio')?.touched && claseForm.get('horaInicio')?.errors?.['required']">
        HoraInicio es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Duración</mat-label>
      <input matInput formControlName="duracion" type="duracion">
      <mat-error *ngIf="claseForm.get('duracion')?.touched && (claseForm.get('duracion')?.errors?.['required'] || alumnoForm.get('duracion')?.errors?.['duracion'])">
        Ingrese una duración válida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Curso</mat-label>
      <input matInput formControlName="curso">
      <mat-error *ngIf="claseForm.get('curso')?.touched && claseForm.get('curso')?.errors?.['required']">
          Curso es requerido
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!claseForm.valid">Guardar</button>
    <button mat-button type="button" (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="warn" *ngIf="editing" (click)="deleteClase()">Eliminar</button>
  </form>
</div>

