<div class="clases-list-container">
    <h2>Lista de Clases</h2>
    <mat-table [dataSource]="clases$ | async" class="mat-elevation-z8">
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre de la Clase </th>
        <td mat-cell *matCellDef="let clase"> {{ clase.curso.nombre }} </td>
      </ng-container>
  
      <ng-container matColumnDef="horaInicio">
        <th mat-header-cell *matHeaderCellDef> Hora de Inicio </th>
        <td mat-cell *matCellDef="let clase"> {{ clase.horaInicio }} </td>
      </ng-container>
  
      <ng-container matColumnDef="duracion">
        <th mat-header-cell *matHeaderCellDef> Duración (Horas) </th>
        <td mat-cell *matCellDef="let clase"> {{ clase.duracion }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>